{% block feature %}
<div class="home-features">
    <div class="home-container05">
    <div class="home-feature-card">
        <div class="home-container06">
        <h2 class="home-text02">What is KFocus?</h2>
        <span class="home-text03">
            KFocus is an online pomodoro timer that works in both desktop
            and mobile browsers. The main objective of this application is
            to assist users in focusing on specific tasks such as
            studying, writing, and coding effectively.
        </span>
        </div>
    </div>
    <div class="home-feature-card1">
        <div class="home-container07">
        <h2 class="home-text04">What is Pomodoro Technique?</h2>
        <span class="home-text05">
            The Pomodoro Technique was created by Francesco Cirillo to
            help people work and study more productively. It involves
            breaking down work into intervals, usually 25 minutes long,
            with short breaks in between. These intervals are called
            pomodoros, named after the tomato-shaped kitchen timer that
            Cirillo used as a student.
        </span>
        </div>
    </div>
    <div class="home-container08">
        <div class="home-feature-card2">
        <div class="home-container09">
            <h2 class="home-text06">How to use Pomodoro Timer?</h2>
            <span class="home-text07">
            <span class="home-text08">Plan the task</span>
            <span class="home-text09"></span>
            <span class="home-text10">you work for the day</span>
            <br class="home-text11" />
            <span class="home-text12">Remove distractions</span>
            <span class="home-text13"></span>
            <span class="home-text14">and focused</span>
            <span class="home-text15">&nbsp;</span>
            <br class="home-text16" />
            <span class="home-text17">Start a timer</span>
            <span class="home-text18"></span>
            <span class="home-text19">and focus on the task</span>
            <span class="home-text20"></span>
            <br class="home-text21" />
            <span class="home-text22">Take a break</span>
            <span class="home-text23"></span>
            <span class="home-text24">when the alarm goes off</span>
            <br />
            </span>
        </div>
        </div>
    </div>
    <div class="home-feature-card3">
        <div class="home-container10">
        <h2 class="home-text26">Book Suggestions</h2>
        <span class="home-text27">
            <span class="home-text28">
            Many of you want to be more productive, and I'm excited to
            share my knowledge on how to achieve that. Here are some of
            my favorite books that have helped me in this journey.
            </span>
            <br class="home-text29" />
            <br class="home-text30" />
            <span class="home-text31">Learning How to Learn</span>
            <span class="home-text32"></span>
            <span class="home-text33">
            by Alistair McConville, Barbara Oakley, and Terry Sejnowski
            </span>
            <br class="home-text34" />
            <br class="home-text35" />
            <span class="home-text36">
            The 80/20 Principle: The Secret to Achieving More with Less
            </span>
            <span class="home-text37"></span>
            <span class="home-text38">by Richard Koch</span>
            <br class="home-text39" />
            <br class="home-text40" />
            <span class="home-text41">Deep Work</span>
            <span class="home-text42"></span>
            <span class="home-text43">by Cal Newport</span>
            <br class="home-text44" />
            <br class="home-text45" />
            <span class="home-text46">
            Getting Things Done: The Art of Stress-Free Productivity
            </span>
            <span class="home-text47"></span>
            <span class="home-text48">by David Allen</span>
            <span class="home-text49"></span>
            <br class="home-text50" />
        </span>
        </div>
    </div>
    </div>
</div>
{% endblock %}